@import '../../assets/styles/theme.scss';

.header {
  position: relative;
  width: 100%;
  height: 372px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  padding: 60px 20px;
  color: #fff;
  .header__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    filter: blur(20px);
    transform: scale(1.5);
    &:after {
      position: absolute;
      content: '';
      background-color: rgba(0,0,0,.5);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .header__cover {
    position: relative;
    z-index: 2;
    margin-right: 32px;
    font-size: 24px;
    .header__cover__img {
      width: 252px;
      height: 252px;
    }
    .header__cover__desc {
      position: absolute;
      top: 20px;
      left: 0;
      padding: 0 16px;
      height: 34px;
      color: #fff;
      font-size: 20px;
      text-align: center;
      line-height: 34px;
      background-color: rgba(217,48,48,.8);
      border-top-right-radius: 34px;
      border-bottom-right-radius: 34px;
    }
    .header__cover__num {
      position: absolute;
      right: 5px;
      top: 0;
      font-weight: 700;
      z-index: 3;
      display: flex;
      align-items: center;
      .at-icon-sound {
        margin-right: 10px;
      }
    }
  }
  .header__info {
    position: relative;
    z-index: 2;
    flex: 1;
    .header__info__title {
      font-size: 34px;
      line-height: 1.3;
      line-height: 44px;
    }
    .header__info__user {
      color: #ffffffcc;
      font-size: 28px;
      display: flex;
      align-items: center;
      margin-top: 40px;
      .header__info__user_avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}
.header--more {
  padding: 30px;
  font-size: 28px;
  color: #666;
  .header--more__tag {
    .header--more__tag__item {
      font-size: 24px;
      margin-right: 20px;
      padding: 4px 16px;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 20px;
    }
  }
  .header--more__desc {
    margin-top: 28px;
  }
}
.subscribers{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1PX solid $color-border;
  padding: 20px;
  .avatars{
    width: 500px;
    display: flex;
    .at-avatar{
      width: 60px;
      height: 60px;
      border-radius: 60px;
      margin-right: 20px;
    }
  }
  .count{
    display: flex;
    align-items: center;
    font-size: 28px;
    color: $color-font-sub;
    .icon{
      font-size: 32px;
    }
  }
}
.play-wrapper{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display:flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  opacity: 1;
  .icon-bofang{
    font-size: 40px;
    margin-right: 20px;
  }
  .left-text-sub{
    color: $color-font-sub;
    font-size: $font-size-28;
  }

}


