@import './assets/styles/theme.scss';

.root{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: $bg-color;
}
.at-float-layout .layout-body{
  padding-top:0px;
  padding-bottom:0px;
}
.at-float-layout .layout-header, .at-float-layout__container{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.circling {
  animation: circling 20s infinite linear;
  &.z-pause {
      animation-play-state: paused;
  }
}

@keyframes circling {
  0% {
      transform: rotate(0deg)
  }
  to {
      transform: rotate(1turn)
  }
}
